.Chat-main
  .Chat-main__Group-info
    .Chat-main__Group-info__Right-Header
      .Group-Name
        = @group.name
      %ul.Member-list
        Members:
        - @group.users.each do |user|
          = user.name
        %li.Member
    = link_to 'Edit', edit_group_path(@group), class: "Edit-Button "
  .Chat-main__Message-list
    = render @messages
  .Chat-main__Footer
    = form_with model: [@group, @message], html: {class: "New-message"}, local: true do |f|
      .Input-box
        = f.text_field :content, class: "Input-box__text", placeholder: "type a message"
        = f.label :image, class: "Input-box__image" do
          = icon('fas', 'image', class: 'Input-box__image__file')
          = f.file_field :image, class: 'Hidden' 
      = f.submit 'Send', class: 'Submit-btn'
      
      
